html,body{
  height: 100%;
  font-size: 100%;
}
body {
  background-color: #fff;
}

h1,h2,h3,a,p,span,div,* {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.1;
}

.row {
  margin: 0;
}

#wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.header {  
  background-color: #00587B;
}

.header h1 {
  font-size: 70px;
  font-weight: 500;
  margin: 0;
}

.header span.name {
  color: #7BAFD7;
  font-weight: 400;
  font-size: 30px;
}

.content {
  background-color: #136A9D;
}

.section {
  padding: 8% 0;
}

.footer {
  height: 60px;
  background-color: #7BAFD7;
  padding: 0;
}

.separator {
  height: 10px;
  width: 100%;
}

.section h2 {
  margin-bottom : 2%;
}

.profile a {
  line-height: 64px;
  font-size: 18px;
  margin-left: 8px;
}

.profile a:hover{
  text-decoration: none;
}

.pipe {
  margin-left: 8px;
  font-size: 24px;
}

@media (max-width: 768px) {
  .header span.name {
    display: block;
  }  
}
