<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Hummingbird</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="js/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        
        <div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">

	  <div class="btn-group">
	    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	      Result Type<span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	      <li><a href="javascript: void(0);">Mixed</a></li>
	      <li><a href="javascript: void(0);">Popular</a></li>
	      <li><a href="javascript: void(0);">Recent</a></li>
	    </ul>
	  </div>

            <div class="navbar-search pull-right">
	      <input id="search" type="text" class="search-query" placeholder="Search">
	    </div>        
	  </div>
        </div>
	<div class="container">
	  <div id="content"></div>
	  <div id="content-details"></div>
	</div>
        
	<script type="text/template" id="tweet-item">
	    <div class="profile-pic">
   	      <img src="<%= profile_image_url %>" />
	    </div>
	    <div class="clearfix tweet-text" href='#tweet/<%= id %>'>
	    <div><%= text %></div>
    	    <span class="label label-info"><%= created_at %></span>
	    </div>
	</script>
	<script type="text/template" id="tweet-details">
	</script>
	 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="js/vendor/plugins/jquery-storage/jquery.storage.js"></script>
	<script src="js/vendor/underscore.min.js"></script> 
	<script src="js/vendor/backbone/backbone.min.js"></script> 
        <script src="js/hummingbird.js"></script> 
   
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<!--
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
	-->
    </body>
</html>
