.navbar-inner {
  background-color: #3A4EAD;
  background-image: none;
  background-repeat: no-repeat;
}

.navbar-search {
}

.container {
  margin-top: 40px;
}

#tweet-list {
  width: 80%;
}

#tweet-list li {
  margin-bottom: 4px;
}

#tweet-list li > span {
  margin-left: 28px;
}

.tweet-text {
  float: left;
  width: 80%;
  padding: 0 5px;
}

.profile-pic {
  float : left;
  height: 100%;
  width: 24px;
}

#search {
  margin-right: 10px;
}
